<div class="container mt-4 w-50">
  <h2 class="border-bottom pb-2 mb-4" style="color: #060B66">Change your machine's information</h2>

  <%= simple_form_for(@machine) do |f| %>
      <%= f.input :name %>
      <%= f.input :details, label:"Details: describe your time travel" %>
      <%= f.input :period_century, label:"Century of travel" %>
      <%= f.input :period_specific, label:"Year of travel" %>
      <%= f.input :price, label:"Price per day" %>
      <%= f.input :country, label:"Country of travel" %>
      <%= f.submit "Update your machine", class:"btn-ghost" %>
    <% end %>
</div>
