

<div class="container mt-4">
<h1>Available time machines</h1>
<p class="border-bottom pb-3"><%= @machines.length %> machines available for your dates</p>
  <div class="container d-flex">
    <div>
      <ul>
        <div class="row my-5">
          <% @machines.each do |machine| %>
            <div class="col-6">
              <div class="card-machine mb-4">
                <% if machine.photos.attached? %>
                  <%= cl_image_tag machine.photos.first.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                  <%= cl_image_tag "", height: 300, width: 400, crop: :fill %>
                <% end %>

                <div class="card-machine-infos">
                  <li class="list-unstyled">
                    <h2 class="mb-3"><%= link_to machine.name, machine_path(machine) %></h2>
                    <div class="d-flex justify-content-between">
                      <div>
                        <p><strong>Century:</strong> <%= machine.period_century %>th</p>
                        <p><strong>Year of travel:</strong> <%= machine.period_specific %></p>
                      </div>
                      <p><strong><span><%= machine.price %>€<span></strong> / per day</p>
                    </div>
                  </li>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </ul>
    </div>
    <div class="my-5 ms-4" style="width: 100%; height: 630px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
