

<div class="container mt-4">
<h1>Available time machines</h1>
<p class="border-bottom pb-3"><%= pluralize @machines.length, "machine" %> available for your dates</p>
  <div class="container d-flex">
    <div class="col-6">
      <ul>
        <div class="row my-5">
          <% @machines.each do |machine| %>
            <div class="col-6">
            <%= link_to machine_path(machine) do %>
              <div class="card-machine mb-4">
                <% if machine.photos.attached? %>
                  <div id="carouselExampleControls-<%= machine.id %>" class="carousel slide" data-bs-interval="false" >
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <%= cl_image_tag machine.photos.first.key, class: "d-block w-100", alt: "..."%>
                      </div>
                      <div class="carousel-item">
                        <%= cl_image_tag machine.photos.second.key, class: "d-block w-100", alt: "..."%>
                      </div>
                      <div class="carousel-item">
                        <%= cl_image_tag machine.photos.last.key, class: "d-block w-100", alt: "..."%>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-<%= machine.id %>" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-<%= machine.id %>" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <%# <%= cl_image_tag machine.photos.first.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                  <%= cl_image_tag "", height: 300, width: 400, crop: :fill %>
                <% end %>

                <div class="card-machine-infos">
                  <li class="list-unstyled">
                    <h2 class="mb-3"><%= machine.name %></h2>
                    <div class="d-flex justify-content-between">
                      <div>
                        <p><strong>Century:</strong> <%= machine.period_century %>th</p>
                        <p><strong>Year of travel:</strong> <%= machine.period_specific %></p>
                      </div>
                      <p><strong><span><%= machine.price %>€<span></strong> / per day</p>
                    </div>
                  </li>
                </div>
              </div>
            <% end %>
            </div>
          <% end %>
        </div>
      </ul>
    </div>
    <div class="col-6 my-5 ms-4 mapbox"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
