<div class=container style="min-height: 80vh">
  <h1 class="title-dashboard my-5" >Welcome to your dashboard <%= current_user.first_name if user_signed_in? %>!</h1>
  <div class="container">

    <ul class="list-inline tabs-underlined">
      <li>
        <%= link_to "Bookings", dashboard_path, class: "tab-underlined" %>
      </li>
      <li>
        <a href="#" class="tab-underlined">Requests</a>
      </li>
      <li>
        <%= link_to "Create a machine", new_machine_path, class: "tab-underlined active" %>
      </li>
    </ul>
    <div class="container my-5 w-50">
      <h2 class="border-bottom pb-2 mb-4" style="color: #060B66">Add a new machine</h2>

      <%= simple_form_for(@machine) do |f| %>
          <%= f.input :name %>
          <%= f.input :details %>
          <%= f.input :period_century, label:"Century" %>
          <%= f.input :period_specific, label:"Year of travel" %>
          <%= f.input :price, label:"Price per day"  %>
          <%= f.input :place, collection: @places %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.submit "Create your machine", class:"btn-ghost" %>
        <% end %>
    </div>
  </div>
</div>
