<h1><%= @machine.name %></h1>

<p><%= @machine.details %></p>
<p>You will travel in the <%= @machine.period_century %>th century, in year <%= @machine.period_specific %></p>
<p>Country you will visit: <%= @machine.country %></p>
<p>Price per day: <%= @machine.price %> euros</p>

<%= link_to "Back to list", machines_path %> |
<% if policy(@machine).edit? %>
  <%= link_to "Edit this machine", edit_machine_path %> |
<% end  %>
<% if policy(@machine).destroy? %>
  <%= link_to "Delete", machine_path(@machine), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
