<div class="bannershow mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url('<%= cl_image_path @machine.photos.first.key, height: 300, width: 400, crop: :fill %>');">
  <div class="container">
    <h1><%= @machine.name %></h1>
    <p>Get ready for the experience of a lifetime</p>
  </div>
</div>

<div class="container container-width">
  <div class= "d-flex justify-content-between">
    <div class="container-form">
      <div class="container-1">
        <h2 class="mt-3 border-bottom pb-2" style="color: #031069"><%= @machine.name %></h2>
        <div class="d-flex align-items-baseline mt-4">
          <i class="fas fa-subway px-2"></i>
          <p>Entire machine: you'll have the machine for yourself</p>
        </div>
        <div class="d-flex align-items-baseline">
          <i class="fas fa-wifi px-1"></i>
          <p>Free wi-fi</p>
        </div>
        <div class="d-flex align-items-baseline">
          <i class="fas fa-hand-sparkles px-2"></i>
          <p>Enhanced cleaning: Time Capsule's 5-step enhanced cleaning process</p>
        </div>

        <h4 class="mt-4 border-bottom pb-2" style="color: #031069">What to expect ?</h4>
        <p class="mt-4"><%= @machine.details %></p>
        <p>You will travel in the <%= @machine.period_century %>th century, in year <%= @machine.period_specific %></p>
        <p>Country you will be visiting: <%= @machine.place %></p>
        <p>Price per day: <%= @machine.price %> euros</p>
      </div>
    </div>

    <div data-controller='coucou'></div>

    <div data-controller="flatpickr"></div>
    <div class="d-flex justify-content-around">
      <div class="container-2" data-controller="total" data-action="change->total#getDepartureDate change->total#getArrivalDate" data-total-price-value= <%=@machine.price%>>
        <h4 class="border-bottom pb-2">Book your travel</h4>
        <div>
          <%= simple_form_for [@machine, @booking] do |f| %>
            <%= f.input :departure_date, as: :string,
                        :label => "Choose your booking dates :",
                        required: false,
                        placeholder: 'Pick-up date',
                        input_html: { class: "datepicker", data: { total_target: "departure" } }%>
            <%= f.input :arrival_date, as: :string,
                        label: false,
                        required: false,
                        placeholder: 'Return date',
                        input_html: {class: "datepicker" , data: { total_target: "arrival" } } %>
            <div class="border-bottom" data-total-target="totalPrice">
            </div>
            <div class= "mt-30">
              <%= f.submit "Book", class:"btn-ghost w-100" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <h4 class="mt-5 border-bottom pb-2" style="color: #031069">Things to know</h4>
    <div class="d-flex justify-content-between things-to-know">
      <div class="mb-4">
        <p class="mt-3"><strong>Time travel rules</strong></p>
        <div class="d-flex align-items-baseline policies">
          <i class="fas fa-clock px-2"></i>
          <p>Check-in: 3:00 PM - 10:00 PM</p>
        </div>
        <div class="d-flex align-items-baseline mt-0 policies">
          <i class="fas fa-clock px-2"></i>
          <p>Checkout: 11:00 AM</p>
        </div>
        <div class="d-flex align-items-baseline mt-0 policies">
          <i class="fas fa-times px-2"></i>
          <p>Don't try to change the past :)</p>
        </div>
      </div>
      <div>
        <p class="mt-3"><strong>Cancellation policies</strong></p>
        <div class="d-flex align-items-baseline policies">
          <p>Cancel before Nov. 23 and get a full refund</p>
        </div>
      </div>
      <div>
        <p class="mt-3"><strong>Things to bring</strong></p>
        <div class="d-flex align-items-baseline policies">
          <p>Clothes suitable for the time period</p>
          <p></p>
        </div>
      </div>
    </div>

    <div class="cards-grid">
      <% @machine.photos.each do |photo| %>
        <div class="card-grid" style="background-image: url('<%= cl_image_path photo.key, height: 300, width: 400, crop: :fill %>')">
        </div>
      <% end %>
    </div>
    <h4 class="mt-4 border-bottom pb-2" style="color: #031069">About the owner of the machine</h4>
      <p><%= @machine.user.first_name %> <%= @machine.user.last_name %> loves to travel into times.</p>
      <p>Check out <%= @machine.user.first_name %>'s machines:
      <% all_machine = Machine.all %>
      <%usermachines = all_machine.select do |machine| %>
        <% machine.user_id==@machine.user_id && machine.name !=@machine.name %>
      <% end %>
      <div class="container my-5">
        <div class="container d-flex justify-content-evenly my-5">
          <% if usermachines.size != 0 %>
            <% usermachines.each do |machine| %>
              <%= link_to machine_path(machine) do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path machine.photos.first.key, class: "d-block w-100", alt: "..."%>')">
                  <%= machine.name %>
                </div>
              <% end %>
            <% end %>
            <% else %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://medt-refresh.imgix.net/wp-content/uploads/2020/03/29014351/castle-ga.jpg?fit=crop&crop=faces,entropy,center&q=70&auto=format&or=0&fm=jpeg&w=348&h=232)">
                No machine
              </div>
          <% end %>
        </div>
      </div>

    <div class="d-flex justify-content-center mt-4">
      <p><%= link_to "Back to list", machines_path, class:"btn btn-ghost" %></p>
      <% if policy(@machine).edit? %>
        <p><%= link_to "Edit this machine", edit_machine_path, class:"btn btn-ghost mx-4" %></p>
      <% end  %>
      <% if policy(@machine).destroy? %>
        <p><%= link_to "Delete", machine_path(@machine), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-ghost" %></p>
      <% end %>
    </div>
</div>
